<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/AVPlay" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="uyzquTq3pP.AVPlay" package="uyzquTq3pP" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/network.push"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/tv.audio"/>
    <feature name="http://tizen.org/feature/tv.display"/>
    <feature name="http://tizen.org/feature/tv.inputdevice"/>
    <feature name="http://tizen.org/feature/tv.pip"/>
    <feature name="http://tizen.org/feature/tv.tuner"/>
    <icon src="icon.png"/>
    <name>AVPlay</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.channel"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.display"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/drmplay"/>
    <tizen:profile name="tv-samsung-public"/>
</widget>
